body {
  margin: 0;
  display: flex;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(0, 0, 0); /* Set your desired background color */
}

#root {
  width: 100%;

  min-height: 100vh;
}
